<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Task Management Board</title>
<!-- <script src="https://cdn.tailwindcss.com%22%3E/</script> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="..\..\public\styles.css"/>
</head>
<body>
  <div class="grid-cols-3">
    <div class="col-span-1">
      <h2 >Para Fazer</h2>
      <div class="card-task-list">
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
      </div>
    </div>
    <div class="col-span-1">
      <h2 >Em Andamento</h2>
      <div class="card-task-list">
        <p>Tarefa 3</p>
      </div>
    </div>
    <div class="col-span-1">
      <h2 >Concluído</h2>
       <div class="card-task-list">
        <p>Tarefa 4</p>
        <p>Tarefa 1</p>
        <p>Tarefa 2</p>
      </div>
    </div>
  </div>

<script>
  // Any additional JavaScript can be written here
</script>
</body>
</html>